.kit-card-box {
  position: absolute;
  left: 0;
  top: 0;
}

.kit-card {
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.kit-card:hover,
.kit-card.dragging,
.kit-card.resizing {
  border-color: #007bff;
}
